/* Charte couleur : bleu #0065FC Bleu clair : #DEEBFF Gris background : #F2F2F2 */

@font-face {
    font-family: 'raleway_italic';
    src: url('fonts/raleway-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url('fonts/Raleway.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#bloc_page {
    font-family: 'raleway';
    margin: 20px 20px 20px;
}

.filters select {
    font-family: FontAwesome, 'ralewaythin', sans-serif;
}

nav {
    display: flex;
    height: 80px;
    flex-direction: row;
    justify-content: space-between;
}

#nav-links {
    display: flex;
    flex-wrap: wrap-reverse;
    width: 50%;
}

#nav-links a {
    flex: 1;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    Color: black;
    border-top: 3px solid #ffffff00;
}

#nav-links a:hover {
    border-top: 3px solid #0065FC;
    color: #0065FC;
    font-weight: bold;
}

#nav-links a:last-child {
    color: #0065FC;
}

/* ////////////////////// */

#area h1 {
    font-size: larger;
}

#area h1 span {
    font-weight: normal;
    font-size: medium;
}

#area_bar {
    display: flex;
    border: 3px solid #F2F2F2;
    border-radius: 15px;
    width: max-content;
    margin-bottom: 20px;
    box-shadow: inset 5px 5px 5px 5px #F2F2F2;
}

#marqueur {
    display: flex;
    width: 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-right: 1px solid #F2F2F2;
    background-color: #F2F2F2;
    border-radius: 10px 0px 0px 10px;
}

#area_bar input, input.button {
    height: 30px;
    color: #030303;
    text-decoration: none;
    border: none;
}

#area_bar input[type=submit] {
    background-color: #0065FC;
    color: white;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
    font-size: small;
}

.filters {
    margin-bottom: 20px;
}

.filters span {
    font-weight: 700;
}

.select-filters {
    display: inline-block;
    margin-left: 15px;
    margin-bottom: 20px;
}

.filters span:nth-last-child {
    background-color: red;
}

/* ////////////////////// */

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

Article:first-child {
    width: 60%;
}

Article:nth-of-type(2) {
    width: 30%;
}

Article:last-child {
    width: auto;
}

Article #location {
    background-color: #F2F2F2;
    border-radius: 5px;
}

h1 {
    margin-bottom: 16px;
}

#entitle {
    width: 100%;
}

#location {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* width: auto; */
    justify-content: space-between;
    padding: 5px;
}

#location h2 {
    margin-left: 10px;
}

#location h3 {
    font-weight: bold;
    margin-bottom: 0%;
}

#location picture img {
    width: 100%;
    height: 70%;
    margin: auto;
    border-radius: 5px;
}

#location a {
    text-decoration: none;
}

.card {
    border: 3px solid rgb(255, 255, 255);
    margin: 5px;
    padding: 2px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.048);
    background-color: white;
    width: 30%;
    font-size: x-small;
    color: #030303;
    height: 225px;
}

.card .fig {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.rating {
    margin-left: 3px;
}

.read_more {
    width: 200px;
    font-weight: bold;
    margin: 15px 0px 15px 10px;
}

#popular {
    display: flex;
    background-color: #F2F2F2;
}

#title_pop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: baseline;
}

#title_pop .fa {
    font-size: larger;
    margin-right: 10px;
}

#title_pop h2 {
    margin-left: 10px;
}

/* ////////////////////// */

.footer-list a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/* ////////////////////// */

@media screen and (max-width: 400px) {
    #location {
        flex-direction: column;
    }
    .card {
        width: auto;
    }
    Article:first-child {
        width: auto;
    }
    Article:nth-of-type(2) {
        width: auto;
    }
    Article:last-child {
        width: auto;
    }
}

@media screen and (max-width: 600px) {
    Article:first-child {
        width: auto;
    }
    Article:nth-of-type(2) {
        width: auto;
    }
    Article:last-child {
        width: auto;
    }
    #location {
        flex-direction: column;
        align-items: center;
    }
    .card {
        width: auto;
    }
}

@media screen and (max-width: 1000px) {
    .logo {
        float: left;
    }
    #nav-links {
        flex-direction: row;
        flex-wrap: wrap;
        width: auto;
        height: auto;
    }
    #nav-links a {
        margin-left: 5px;
    }
    #nav-links a:last-child {
        position: absolute;
        padding-left: 115px;
        border-bottom: 3px solid #ffffff00;
    }
    #nav-links a:hover {
        text-decoration: underline 3px solid #0065FC;
        border-top: none;
    }
    section {
        flex-direction: column;
    }
    Article:first-child {
        width: auto;
    }
    Article:nth-of-type(2) {
        width: auto;
    }
    Article:last-child {
        width: auto;
    }
}

@media screen and (max-width: 700px) {
    .card {
        width: 45%;
    }
}

@media screen and (max-width: 590px) {
    .card {
        width: 60%;
    }
}