/* Charte couleur : bleu #0065FC Bleu clair : #DEEBFF Gris background : #F2F2F2 */

@font-face {
    font-family: 'raleway_italic';
    src: url('fonts/raleway-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url('fonts/Raleway.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#bloc_page {
    font-family: 'raleway';
    margin: 20px 20px 20px;
}

.fig {
    font-weight: bold;
    font-size: medium;
}

.fig span {
    font-weight: normal;
}

.filters select {
    font-family: FontAwesome, 'ralewaythin', sans-serif;
}

/* Hover image  */

picture:hover {
    opacity: .5;
}

/* Header */

#nav-links {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    width: 100%;
}

#nav-links a {
    flex: 1;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    Color: black;
    border-top: 3px solid #ffffff00;
}

#nav-links a:hover {
    border-top: 3px solid #0065FC;
    color: #0065FC;
    font-weight: bold;
}

.logo {
    width: 50%;
}

#register a {
    color: #0065FC;
}

/* ////////////////////// */

#area_bar {
    display: flex;
    border: 3px solid #F2F2F2;
    border-radius: 15px;
    width: max-content;
    /* margin-bottom: 10px; Calculer le ration % post activity réglage */
    box-shadow: inset 5px 5px 5px 5px #F2F2F2;
}

.marqueur {
    display: flex;
    width: 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-right: 1px solid #F2F2F2;
    background-color: #F2F2F2;
    border-radius: 10px 0px 0px 10px;
}

#area_bar input, input.button {
    height: 30px;
    color: #030303;
    text-decoration: none;
    border: none;
}

#area_bar input[type=submit] {
    background-color: #0065FC;
    color: white;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
    font-size: small;
}

/* barre de recherche < 1000 px */

#area_resize {
    display: flex;
    border: 3px solid #F2F2F2;
    border-radius: 15px;
    width: max-content;
    margin-bottom: 20px;
    box-shadow: inset 5px 5px 5px 5px #F2F2F2;
}

.butt_where {
    font-family: FontAwesome, 'ralewaythin', sans-serif;
}

#area_resize input, input.button {
    height: 30px;
    color: #030303;
    text-decoration: none;
    border: none;
}

#area_resize input[type=submit] {
    background-color: #0065FC;
    color: white;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
    font-size: small;
}

#area_resize {
    visibility: hidden;
    height: 0;
}

/* barre de recherche < 1000 px */

/* /////////////////Filtres////////////// */

/* .select-filters {
    display: inline-block;
    margin-left: 15px;
    border: 3px solid #F2F2F2;
    border-radius: 15px;
    box-shadow: inset 0px 0px 2px 2px #F2F2F2;
}

#select-filters select {
    text-decoration: none;
}

select {
    border: none;
    border-radius: 15px;
}

.select-filters .fas {
    display: inline-block;
    border-radius: 40px;
    box-shadow: 0px 0px 5px #DEEBFF;
    padding: 0.2em 0.2em;
    background-color: #DEEBFF;
} */
form{
    display: flex;
    flex-direction: row;
}
.filters span {
    font-weight: 700;
    margin-right: 10px;
}

.filters i {
    font-size: small;
}

#pet {
    display: flex;
    flex-direction: row;
}

.btn_icon {
    display: flex;
    border: 1px solid black;
}

.filters button {
    background: none;
    border: 1px solid black;
    border-radius: 20px;
}

.filters button .fas {
    color: #0065FC;
}

/* ////////////////////// */

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

Article:first-child {
    width: 60%;
}

Article:nth-of-type(2) {
    width: 30%;
}

Article:last-child {
    width: auto;
}

Article #location {
    background-color: #F2F2F2;
    border-radius: 5px;
}

h1 {
    margin-bottom: 16px;
    font-size: large;
}

h1>span {
    font-size: smaller;
}

/* Section Hébergement à Marseille */

#entitle {
    width: 100%;
}

#location {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-between;
    padding: 5px;
}

#location h2 {
    margin-left: 10px;
}

#location picture img {
    width: 100%;
    opacity: 1;
    height: 70%;
    object-fit: cover;
    margin: auto;
    border-radius: 5px;
    transition: .3s ease-in-out;
}

#location a {
    text-decoration: none;
}

.card {
    border: 3px solid rgb(255, 255, 255);
    margin: 5px;
    padding: 2px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.048);
    background-color: white;
    width: 30%;
    font-size: x-small;
    color: #030303;
    height: 225px;
}

.card .fig {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.rating {
    margin-left: 3px;
}

.read_more {
    width: 100%;
    font-weight: bold;
    margin: 15px 0px 15px 10px;
}

/* Section  Les plus populaires */

#title_pop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: baseline;
}

#title_pop .fa {
    font-size: larger;
    margin-right: 10px;
}

#title_pop h2 {
    margin-left: 10px;
    margin-bottom: 30px;
}

#popular {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #F2F2F2;
}

.card_2 {
    display: flex;
    flex-direction: row;
    width: 80%;
    border: 3px solid rgb(255, 255, 255);
    margin: 5px;
    padding: 2px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.048);
    background-color: white;
}

.card_2 .fig {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: small;
    margin-left: 3px;
}

.rating {
    display: inline-block;
}

#popular picture img {
    width: 100%;
    opacity: 1;
    height: 16vh;
    object-fit: cover;
    border-radius: 5px;
    transition: .3s ease-in-out;
}

#popular picture {
    width: 50%;
    border-radius: 5px;
}

#popular a {
    text-decoration: none;
}

/* ///////Activity/////// */

#activity a {
    text-decoration: none;
}

#activity {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

#title_act {
    display: flex;
    width: 100%;
}

.card_3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
    margin-bottom: 20px;
    box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.048);
    border-radius: 15px;
}

#activity picture {
    height: 400px;
}

#activity picture img {
    width: 100%;
    height: 90%;
    border-radius: 5px;
    object-fit: cover;
    opacity: 1;
}

/* ////////////////////// */

.footer-list a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

li {
    margin: 10px 0;
}

footer {
    display: flex;
    background-color: #F2F2F2;
    flex-direction: row;
    justify-content: space-evenly;
}

footer>div {
    width: 80%;
}

li:first-child {
    font-size: larger;
    font-weight: bold;
}

/* ////////////////////// */

@media screen and (max-width: 992px) {
    h1 {
        font-size: medium;
    }
    section {
        flex-direction: column;
    }
    Article:first-child {
        display: flex;
        width: auto;
    }
    Article:nth-of-type(2) {
        width: auto;
    }
    Article:last-child {
        width: auto;
    }
    .card {
        width: 30vh;
        justify-content: center;
    }
    #location {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin: auto;
        margin-bottom: 15px;
    }
    footer ul {
        font-size: xx-small;
        padding: 5px;
    }
    .card_2 {
        width: 70%;
        justify-content: space-between;
    }
}

@media screen and (max-width: 768px) {
    #nav-links {
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 40px;
    }
    #nav-links div:last-child {
        order: 2;
        width: 50%;
    }
    .logo {
        order: 1;
        width: 50%;
        text-align: center;
    }
    .logo img {
        justify-self: center;
    }
    #nav-links div:nth-of-type(2) {
        order: 3;
        display: flex;
        width: 50%;
    }
    #nav-links div:nth-of-type(3) {
        order: 4;
        width: 50%;
    }
    h1 {
        font-size: small;
    }
    #area_bar {
        visibility: hidden;
        height: 0;
    }
    #area_resize {
        text-align: center;
        visibility: visible;
        height: auto;
    }
    #area_resize input[type=text] {
        width: 300px;
    }
    section {
        flex-direction: column;
    }
    Article:first-child {
        display: flex;
        width: auto;
    }
    Article:nth-of-type(2) {
        width: auto;
    }
    Article:last-child {
        width: auto;
    }
    .card {
        width: auto;
        justify-content: center;
    }
    #location {
        flex-direction: column;
        width: 70%;
        margin: auto;
        margin-bottom: 15px;
    }
    footer ul {
        font-size: xx-small;
        padding: 5px;
    }
}