/* Charte couleur : bleu #0065FC Bleu clair : #DEEBFF Gris background : #F2F2F2 */

@font-face {
    font-family: 'ralewaythin_italic';
    src: url('fonts/raleway-italic-variablefont_wght-webfont.woff2') format('woff2'), url('fonts/raleway-italic-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaythin';
    src: url('fonts/raleway-variablefont_wght-webfont.woff2') format('woff2'), url('fonts/raleway-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.navbar ul li {
 
    display: inline-block;
    list-style-type: none;
}

#register {
    display: flex;
    align-items: center;
}

.filters select {
    font-family: FontAwesome, 'ralewaythin', sans-serif;
}

section {
    display: flex;
}

section article {
    background-color: #F2F2F2;
}